/* style.css: External style sheet */

body {
    background-color: lightblue;
    /* Sets the background color of the entire page */
}

h1 {
    color: white;
    /* Sets the text color for all H1 headings */
    text-align: center;
    /* Centers the H1 headings */
    font-family: Helvetica, Arial, sans-serif;
    /* Defines a font with fallbacks */
}

p {
    font-family: serif;
    /* Defines the font for paragraphs */
    font-size: 16px;
    /* Sets the text size in pixels */
    color: purple;
    /* Sets the text color for all paragraphs */
    padding: 10px;
    /* Adds space between the text and the element's border */
}
